body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #9ece9c !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #9ece9c !important;
  border-color: #9ece9c !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #65b162 !important;
  border-color: #65b162 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #65b162 !important;
  border-color: #65b162 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #9ece9c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #65b162 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #9ece9c !important;
  border-color: #9ece9c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #9ece9c !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #5bac58 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #9ece9c;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #9ece9c;
  border-color: #9ece9c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #9ece9c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #9ece9c !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #9ece9c;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #9ece9c;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #9ece9c;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #9ece9c;
  border-bottom-color: #9ece9c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #9ece9c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%239ece9c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-su3dUaUTyI {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-su3dUaUTyI nav.navbar {
  position: fixed;
}
.cid-su3dUaUTyI .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-su3dUaUTyI .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-su3dUaUTyI .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-su3dUaUTyI .dropdown-item:hover,
.cid-su3dUaUTyI .dropdown-item:focus {
  background: #9ece9c !important;
  color: white !important;
}
.cid-su3dUaUTyI .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-su3dUaUTyI .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-su3dUaUTyI .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-su3dUaUTyI .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-su3dUaUTyI .nav-link {
  position: relative;
}
.cid-su3dUaUTyI .container {
  display: flex;
  margin: auto;
}
.cid-su3dUaUTyI .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-su3dUaUTyI .dropdown-menu,
.cid-su3dUaUTyI .navbar.opened {
  background: #ffffff !important;
}
.cid-su3dUaUTyI .nav-item:focus,
.cid-su3dUaUTyI .nav-link:focus {
  outline: none;
}
.cid-su3dUaUTyI .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-su3dUaUTyI .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-su3dUaUTyI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-su3dUaUTyI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-su3dUaUTyI .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-su3dUaUTyI .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-su3dUaUTyI .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-su3dUaUTyI .navbar.opened {
  transition: all 0.3s;
}
.cid-su3dUaUTyI .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-su3dUaUTyI .navbar .navbar-logo img {
  width: auto;
}
.cid-su3dUaUTyI .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-su3dUaUTyI .navbar.collapsed {
  justify-content: center;
}
.cid-su3dUaUTyI .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-su3dUaUTyI .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-su3dUaUTyI .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 5.2rem);
  }
}
.cid-su3dUaUTyI .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-su3dUaUTyI .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-su3dUaUTyI .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-su3dUaUTyI .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-su3dUaUTyI .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-su3dUaUTyI .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-su3dUaUTyI .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-su3dUaUTyI .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-su3dUaUTyI .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-su3dUaUTyI .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-su3dUaUTyI .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-su3dUaUTyI .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-su3dUaUTyI .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-su3dUaUTyI .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-su3dUaUTyI .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-su3dUaUTyI .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-su3dUaUTyI .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-su3dUaUTyI .navbar.navbar-short {
  min-height: 60px;
}
.cid-su3dUaUTyI .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-su3dUaUTyI .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-su3dUaUTyI .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-su3dUaUTyI .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-su3dUaUTyI .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-su3dUaUTyI .dropdown-item.active,
.cid-su3dUaUTyI .dropdown-item:active {
  background-color: transparent;
}
.cid-su3dUaUTyI .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-su3dUaUTyI .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-su3dUaUTyI .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-su3dUaUTyI .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-su3dUaUTyI .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-su3dUaUTyI .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-su3dUaUTyI ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-su3dUaUTyI .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-su3dUaUTyI button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-su3dUaUTyI button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-su3dUaUTyI button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-su3dUaUTyI button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-su3dUaUTyI button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-su3dUaUTyI button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-su3dUaUTyI nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-su3dUaUTyI nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-su3dUaUTyI nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-su3dUaUTyI nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-su3dUaUTyI .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-su3dUaUTyI a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-su3dUaUTyI .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-su3dUaUTyI .navbar {
    height: 70px;
  }
  .cid-su3dUaUTyI .navbar.opened {
    height: auto;
  }
  .cid-su3dUaUTyI .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-su3e9yR4cy {
  background-image: url("../../../assets/images/fond-accueil-hotte-nettoyage-paris-1920x800.jpg");
}
.cid-su3e9yR4cy .mbr-arrow {
  background: #232323 !important;
  opacity: .7;
}
.cid-su3e9yR4cy .mbr-arrow i {
  color: #ffffff !important;
}
.cid-su3e9yR4cy .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-su3e9yR4cy .animated-element,
.cid-su3e9yR4cy .typed-cursor {
  color: #ffffff;
}
.cid-su3e9yR4cy .animated-element {
  border-bottom: 5px solid #f7aa4a;
}
@media (max-width: 767px) {
  .cid-su3e9yR4cy .typed-text {
    text-align: center;
  }
}
.cid-su3e9yR4cy .mbr-section-title {
  text-align: center;
}
.cid-su3e9yR4cy .mbr-text,
.cid-su3e9yR4cy .typed-text,
.cid-su3e9yR4cy .mbr-section-btn {
  text-align: center;
  color: #fafafa;
}
.cid-su3jBQd6mA {
  padding-top: 7rem;
  padding-bottom: 8rem;
  overflow: visible;
  background-color: #bdefbb;
}
.cid-su3jBQd6mA .mbr-text {
  margin-top: 20px;
  margin-bottom: 50px;
}
.cid-su3jBQd6mA .img__wrap {
  position: absolute;
  right: 0;
  width: 33%;
  top: -12%;
  z-index: 1;
}
.cid-su3jBQd6mA .img__wrap .image {
  position: relative;
  width: 100%;
}
.cid-su3jBQd6mA .img__wrap .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 750px;
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-su3jBQd6mA .img__wrap .image img {
    height: auto;
  }
  .cid-su3jBQd6mA .mbr-text {
    margin-bottom: 28px;
  }
}
@media (max-width: 575px) {
  .cid-su3jBQd6mA {
    padding-top: 10rem;
  }
  .cid-su3jBQd6mA .img__wrap {
    top: -110px;
  }
}
@media (max-width: 400px) {
  .cid-su3jBQd6mA {
    padding-top: 8rem;
  }
  .cid-su3jBQd6mA .img__wrap {
    top: -60px;
  }
}
.cid-su3jBQd6mA .mbr-text,
.cid-su3jBQd6mA .mbr-section-btn {
  text-align: right;
  color: #353535;
}
.cid-su3jBQd6mA .mbr-section-title {
  text-align: center;
  color: #353535;
}
.cid-su3itBWLyr {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-su3itBWLyr .mbr-figure {
    padding-right: 2rem;
  }
}
@media (max-width: 992px) {
  .cid-su3itBWLyr .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-su3itBWLyr .mbr-text {
  text-align: right;
  color: #353535;
}
.cid-su3mPzqfoh {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f8f8f8;
}
.cid-su3mPzqfoh .container {
  max-width: 1500px;
}
.cid-su3mPzqfoh .row {
  background: #bdefbb;
}
.cid-su3mPzqfoh .img-col {
  padding: 0;
}
.cid-su3mPzqfoh .title-col {
  padding: 4rem 6rem;
}
.cid-su3mPzqfoh img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-su3mPzqfoh h2 {
  padding: 0;
  margin: 0;
}
.cid-su3mPzqfoh .text-wrap {
  margin: auto;
}
.cid-su3mPzqfoh .mbr-text {
  color: #232323;
  text-align: right;
}
@media (max-width: 1200px) {
  .cid-su3mPzqfoh .row {
    margin: 2rem;
  }
  .cid-su3mPzqfoh .title-col {
    padding: 4rem;
  }
}
@media (max-width: 767px) {
  .cid-su3mPzqfoh .row {
    margin: 0rem;
  }
  .cid-su3mPzqfoh .title-col {
    padding: 2rem 1rem;
  }
}
.cid-su3mPzqfoh H2 {
  text-align: right;
  color: #232323;
}
.cid-su3nvFqtVd {
  padding-top: 0rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-su3nvFqtVd img,
.cid-su3nvFqtVd .item-img {
  width: 100%;
  height: 100%;
  height: 200px;
  object-fit: cover;
}
.cid-su3nvFqtVd .item:focus,
.cid-su3nvFqtVd span:focus {
  outline: none;
}
.cid-su3nvFqtVd .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-su3nvFqtVd .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #9ece9c;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-su3nvFqtVd .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-su3nvFqtVd .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-su3nvFqtVd .mbr-section-btn {
  margin-top: auto !important;
}
.cid-su3nvFqtVd .mbr-section-title {
  color: #232323;
}
.cid-su3nvFqtVd .mbr-text,
.cid-su3nvFqtVd .mbr-section-btn {
  text-align: right;
  color: #232323;
}
.cid-su3nvFqtVd .item-title {
  text-align: right;
  color: #124c10;
}
.cid-su3nvFqtVd .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-svB4xH9cTr {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #bdefbb;
}
@media (min-width: 991px) {
  .cid-svB4xH9cTr .container-fluid {
    padding-left: 0;
  }
}
.cid-svB4xH9cTr .mbr-text,
.cid-svB4xH9cTr .mbr-section-btn {
  color: #232323;
}
@media (max-width: 991px) {
  .cid-svB4xH9cTr .mbr-text,
  .cid-svB4xH9cTr .mbr-section-btn {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .cid-svB4xH9cTr .mbr-text,
  .cid-svB4xH9cTr .mbr-section-title {
    text-align: center;
  }
}
.cid-svB4xH9cTr a.btn {
  height: 100%;
  margin: 0;
}
.cid-svB4xH9cTr .mbr-section-btn {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}
.cid-svB4xH9cTr .mbr-section-btn .btn {
  width: 100%;
}
@media (max-width: 991px) {
  .cid-svB4xH9cTr .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-svB4xH9cTr .justify-content-center {
  align-items: center;
}
.cid-svB4xH9cTr H1 {
  text-align: center;
  color: #124c10;
}
.cid-svB4xH9cTr P {
  color: #bbbbbb;
}
.cid-svBhAVv21B {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-svBhAVv21B .image-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 1rem;
  overflow: hidden;
}
.cid-svBhAVv21B .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cid-svBhAVv21B .mbr-text {
  text-align: center;
  color: #124c10;
}
.cid-svBhAVv21B .mbr-section-title {
  color: #124c10;
}
.cid-svBhAVv21B .name {
  color: #124c10;
}
.cid-svBhyxxCoh {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-svBhyxxCoh img {
  width: 120px;
  margin: auto;
}
.cid-svBhyxxCoh .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-svBhyxxCoh .card {
    max-width: 12.5%;
  }
}
.cid-svBhyxxCoh .mbr-section-title {
  color: #124c10;
}
.cid-svBa3aCYrm {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-svBa3aCYrm .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.5;
}
.cid-svBa3aCYrm .img-item,
.cid-svBa3aCYrm img {
  height: 100%;
  object-fit: cover;
}
.cid-svBa3aCYrm .img-col {
  padding: 0;
}
.cid-svBa3aCYrm .col-auto {
  width: 100%;
}
.cid-svBa3aCYrm .wrapper {
  background: #9ece9c;
  padding: 6rem 4rem;
  border-radius: 10px;
  margin: 0 1rem;
}
@media (max-width: 767px) {
  .cid-svBa3aCYrm .wrapper {
    padding: 3rem 0rem;
    margin: 0 1rem;
  }
}
.cid-svBa3aCYrm textarea {
  min-height: 200px;
}
.cid-svBa3aCYrm .btn {
  display: inline-block;
  padding: 0.8rem 1.8rem;
}
.cid-svBa3aCYrm .content {
  max-width: 500px;
  margin: 5rem auto;
}
.cid-svBa3aCYrm .form-control,
.cid-svBa3aCYrm .field-input {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #1b2026;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-svBa3aCYrm .form-control::-webkit-input-placeholder,
.cid-svBa3aCYrm .field-input::-webkit-input-placeholder,
.cid-svBa3aCYrm .form-control::-webkit-input-placeholder,
.cid-svBa3aCYrm .field-input::-webkit-input-placeholder {
  color: #777777;
}
.cid-svBa3aCYrm .form-control:-moz-placeholder,
.cid-svBa3aCYrm .field-input:-moz-placeholder,
.cid-svBa3aCYrm .form-control:-moz-placeholder,
.cid-svBa3aCYrm .field-input:-moz-placeholder {
  color: #777777;
}
.cid-svBa3aCYrm .form-control:hover,
.cid-svBa3aCYrm .field-input:hover,
.cid-svBa3aCYrm .form-control:focus,
.cid-svBa3aCYrm .field-input:focus {
  background-color: #ffffff;
  border-color: #ffffff !important;
  color: #1b2026;
  box-shadow: none;
  outline: none;
}
.cid-svBa3aCYrm .form-control:hover::-webkit-input-placeholder,
.cid-svBa3aCYrm .field-input:hover::-webkit-input-placeholder,
.cid-svBa3aCYrm .form-control:focus::-webkit-input-placeholder,
.cid-svBa3aCYrm .field-input:focus::-webkit-input-placeholder,
.cid-svBa3aCYrm .form-control:hover::-webkit-input-placeholder,
.cid-svBa3aCYrm .field-input:hover::-webkit-input-placeholder,
.cid-svBa3aCYrm .form-control:focus::-webkit-input-placeholder,
.cid-svBa3aCYrm .field-input:focus::-webkit-input-placeholder {
  color: #777777;
}
.cid-svBa3aCYrm .form-control:hover:-moz-placeholder,
.cid-svBa3aCYrm .field-input:hover:-moz-placeholder,
.cid-svBa3aCYrm .form-control:focus:-moz-placeholder,
.cid-svBa3aCYrm .field-input:focus:-moz-placeholder,
.cid-svBa3aCYrm .form-control:hover:-moz-placeholder,
.cid-svBa3aCYrm .field-input:hover:-moz-placeholder,
.cid-svBa3aCYrm .form-control:focus:-moz-placeholder,
.cid-svBa3aCYrm .field-input:focus:-moz-placeholder {
  color: #777777;
}
.cid-svBa3aCYrm .jq-number__spin:hover,
.cid-svBa3aCYrm .jq-number__spin:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-svBa3aCYrm .jq-number__spin {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #1b2026;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-svBa3aCYrm .jq-selectbox li,
.cid-svBa3aCYrm .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-svBa3aCYrm .jq-selectbox li:hover,
.cid-svBa3aCYrm .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-svBa3aCYrm .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-svBa3aCYrm .jq-number__spin.minus:hover:after,
.cid-svBa3aCYrm .jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-svBa3aCYrm .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-svBa3aCYrm .jq-number__spin.minus:after,
.cid-svBa3aCYrm .jq-number__spin.plus:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-svBa3aCYrm input::-webkit-clear-button {
  display: none;
}
.cid-svBa3aCYrm input::-webkit-inner-spin-button {
  display: none;
}
.cid-svBa3aCYrm input::-webkit-outer-spin-button {
  display: none;
}
.cid-svBa3aCYrm input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-svBa3aCYrm H4 {
  color: #000000;
  text-align: center;
}
.cid-svBa3aCYrm H3 {
  text-align: center;
}
.cid-svBa3aCYrm LABEL {
  text-align: right;
}
.cid-svFLb8uwnw {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #9ece9c;
}
.cid-svFLb8uwnw .media-container-row .mbr-text {
  color: #124c10;
}
